@(roomname: String)(implicit request: RequestHeader)
<!DOCTYPE html>

<html>
<head>
<title>LiveGame</title>
<style type="text/css">
body {
	background-color: #DDDDDD;
	font: 20px sans-serif;
}

h1 {
	font-size: 130%;
}

h2 {
	font-size: 100%;
}

table {
	border-collapse: collapse;
}

th,td {
	border: 1px solid gray;
}

tr.true {
	background-color: #ccffcc;
}

tr.false {
	background-color: #ffcccc;
}

#warning {
	background-color: #ffcccc;
}

.sync {
	line-height: 1;
	height: 2em
}

.sync p {
	display: none; /* 初期状態は非表示 */
	color: #888;
	font-weight: 200;
	text-align: center;
}
</style>
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script type="text/javascript">
//ここからwebsocket
var current_game_status = "waiting";
var user_names = [];
var user_answers = new Array();

function mkAnswersString(){
	var s = "解答 : ";
	s += user_names[0] + "サン => " + user_answers[0][current_question_number] + ", ";
	s += user_names[1] + "サン => " + user_answers[1][current_question_number] + ", ";
	s += user_names[2] + "サン => " + user_answers[2][current_question_number] + ", ";
	s += user_names[3] + "サン => " + user_answers[3][current_question_number] + ", ";
	s += user_names[4] + "サン => " + user_answers[4][current_question_number] + ", ";
	return s;
}

$(function() {
	var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
    var chatSocket = new WS("@routes.GameView.signal().webSocketURL()");
    
    var receiveEvent = function(event) {
        var data = JSON.parse(event.data);
        
        if(data.error) {
            chatSocket.close();
            window.alert("websocket error");
            return;
        }
        
        if(data.status == "active"){ //ゲーム開始出来る状態になる
        	current_game_status = "active";
        } else if(data.status == "enter"){ //ユーザが参加した。
        	user_names[data.role - 1] = data.username;
        	user_answers[data.role - 1] = new Array();
        	$('.sync p').text(data.username + "さんが参加しました")
        	$('.sync p').fadeIn(500).delay(700).fadeOut(700);
        } else if(data.status == "start"){　//ゲーム開始状態
        	if(user_answers[data.role - 1][current_question_number] == null){ //まだ解答してないなら
				user_answers[data.role - 1][current_question_number] = questions[current_question_number].answers[data.answer];
        	}
        	
        	//全員が解答終えたら、表示
        	var i = 0;
        	for(; i < 5; i = i + 1){
        		if(user_answers[i][current_question_number] == null){
        			break;
        		}
        	}
        	if(i == 5){
        		$('.answers p').text(mkAnswersString);
        	}
        } else if(data.status == "stop"){ // TODO
        	
        }
    }
    
    chatSocket.onmessage = receiveEvent
})

//answers の先頭が正答になるようにして下さい。選択肢はシャッフルして表示されます。

var user_answers = [];
document.onkeydown = function (e){
	var key_code = e.keyCode;
	//for user1
	if(key_code == 49){
		user1_answers[current_question_number] = questions[current_question_number].answers[0];
	}
	if(key_code == 50){
		user1_answers[current_question_number] = questions[current_question_number].answers[1];
	}	
	if(key_code == 51){
		user1_answers[current_question_number] = questions[current_question_number].answers[2];
	}	
	if(key_code == 52){
		user1_answers[current_question_number] = questions[current_question_number].answers[3];
	}
	//for user2
	if(key_code == 53){
		user2_answers[current_question_number] = questions[current_question_number].answers[0];
	}
	if(key_code == 54){
		user2_answers[current_question_number] = questions[current_question_number].answers[1];
	}	
	if(key_code == 55){
		user2_answers[current_question_number] = questions[current_question_number].answers[2];
	}	
	if(key_code == 56){
		user2_answers[current_question_number] = questions[current_question_number].answers[3];
	}
};

//三根の好きなスポーツはなんでしょう
var questions = [
  {'question': '達夫さんの誕生日は？', 'answers': ['4/24', '4/22', '4/28', '9/14']},
  {'question': 'マー君は開幕何連勝中？', 'answers': ['21', '25', '20', '23']},
  {'question': '島田さんの下の名前は？', 'answers': ['裕正', '弘昌', '博正', '達夫']},
  {'question': '明日上陸予定の台風は何号か？', 'answers': ['18', '20', '16', '22']},
  {'question': '中島研究室に所属するM1は何人か？', 'answers': ['8', '7', '9', '6']},
  {'question': 'オリンピック誘致で１番目にプレゼンした国は？', 'answers': ['スペイン', 'トルコ', 'ブラジル', '日本']},
  {'question': '63-525にあるプリンタの型番は？', 'answers': ['C8800', 'C6688', 'D4413', 'X360']},
  {'question': '86400秒は次のうちどれ？', 'answers': ['24時間', '12時間', '27時間', '36時間']},
  {'question': '鈴木拓也はローソンに継続何年か?', 'answers': ['8', '5', '3', '1']},
  {'question': '丸谷が高校に入学した方法は？', 'answers': ['スポーツ推薦', '内部推薦', '一般受験', '裏口入学']},
  {'question': '三根の好きなスポーツはなんでしょう？', 'answers': ['ハイパーヨーヨー', 'ラグビー', 'ゴルフ', 'バスケットボール']},
  {'question': '中島佳菜子の高校時代のあだ名は？', 'answers': ['Candy', 'Katherin', 'Nathan', 'Angel']},
  {'question': '相川が一番自信を持っているモノマネ？', 'answers': ['悟飯', '目玉の親父', 'えなりかずき', '芹那']}
 ];

Array.prototype.shuffle = function() {
    var i = this.length;
    while(i){
        var j = Math.floor(Math.random()*i);
        var t = this[--i];
        this[i] = this[j];
        this[j] = t;
    }
    return this;
};

var answers = [];
var current_question_number;

$.each(questions, function (i, question) {
  question.true_answer = question.answers[0];
  question.answers.shuffle();
});

$(function() {
  showQuestion(0);
  
  $('#answer_button').click(function () {
    if(current_game_status != "active"){ //ゲーム状態がアクティブじゃなければ
    	return false;
    }
    
    var i = 0;
	for(; i < 5; i = i + 1){ //まだ答えてない人が居るなら
		if(user_answers[i][current_question_number] == null){
			return false;
		}
	}
	
    $('.answers p').text("解答 : ");
    $('#warning').slideUp();
    
    if (current_question_number < questions.length - 1) {
      showQuestion(current_question_number + 1);
    } else {
      showResult();
    }
  });
});

function showQuestion(question_number) {
  current_question_number = question_number;
  
  var question = questions[question_number];
  
  $('#question_number').text((question_number + 1) + "/" + questions.length);
  $('#question_body').text(question.question);
  $('#answers').empty();
  $.each(question.answers, function (i, value) {
    $('#answers').append($('<li/>').append($('<input type="radio" name="answer" id="answer' + i + '"/>')).append($('<label for="answer' + i + '"/>').text(value)));
  });
}
      
function showResult() {
	var score = [0,0,0,0,0];
  $('#question_view').hide();
  
  $('.user1 #username').text(user_names[0] + "サン");
  $('.user2 #username').text(user_names[1] + "サン");
  $('.user3 #username').text(user_names[2] + "サン");
  $('.user4 #username').text(user_names[3] + "サン");
  $('.user5 #username').text(user_names[4] + "サン");
  
  $('.score #user1').text(user_names[0] + "サン");
  $('.score #user2').text(user_names[1] + "サン");
  $('.score #user3').text(user_names[2] + "サン");
  $('.score #user4').text(user_names[3] + "サン");
  $('.score #user5').text(user_names[4] + "サン");
  
  $.each(questions, function (i, question) {
    var is_true = user_answers[0][i] === question.true_answer;
    if(is_true){
    	score[0] = score[0] + 1;
    }
    $('.user1 #results').append($('<tr/>')
                         .addClass(is_true ? 'true' : 'false')
                         .append($('<th/>').text(i + 1))
                         .append($('<td/>').text(user_answers[0][i]))
                         .append($('<td/>').text(question.true_answer))
                         .append($('<td/>').text(is_true ? '○' : '×'))
      );
  });
  
  $.each(questions, function (i, question) {
	    var is_true = user_answers[1][i] === question.true_answer;
	    if(is_true){
	    	score[1] = score[1] + 1;
	    }
	    $('.user2 #results').append($('<tr/>')
	                         .addClass(is_true ? 'true' : 'false')
	                         .append($('<th/>').text(i + 1))
	                         .append($('<td/>').text(user_answers[1][i]))
	                         .append($('<td/>').text(question.true_answer))
	                         .append($('<td/>').text(is_true ? '○' : '×'))
	      );
	  });
  
  $.each(questions, function (i, question) {
	  var is_true = user_answers[2][i] === question.true_answer;
	  if(is_true){
	    	score[2] = score[2] + 1;
	    }
	    var is_true = user_answers[2][i] === question.true_answer;
	    $('.user3 #results').append($('<tr/>')
	                         .addClass(is_true ? 'true' : 'false')
	                         .append($('<th/>').text(i + 1))
	                         .append($('<td/>').text(user_answers[2][i]))
	                         .append($('<td/>').text(question.true_answer))
	                         .append($('<td/>').text(is_true ? '○' : '×'))
	      );
	  });
  
  $.each(questions, function (i, question) {
	    var is_true = user_answers[3][i] === question.true_answer;
	    if(is_true){
	    	score[3] = score[3] + 1;
	    }
	    $('.user4 #results').append($('<tr/>')
	                         .addClass(is_true ? 'true' : 'false')
	                         .append($('<th/>').text(i + 1))
	                         .append($('<td/>').text(user_answers[3][i]))
	                         .append($('<td/>').text(question.true_answer))
	                         .append($('<td/>').text(is_true ? '○' : '×'))
	      );
	  });
  
  $.each(questions, function (i, question) {
	    var is_true = user_answers[4][i] === question.true_answer;
	    if(is_true){
	    	score[4] = score[4] + 1;
	    }
	    $('.user5 #results').append($('<tr/>')
	                         .addClass(is_true ? 'true' : 'false')
	                         .append($('<th/>').text(i + 1))
	                         .append($('<td/>').text(user_answers[4][i]))
	                         .append($('<td/>').text(question.true_answer))
	                         .append($('<td/>').text(is_true ? '○' : '×'))
	      );
	  });
  
  $('.score #results').append($('<tr/>')
          .addClass('true')
          .append($('<th/>').text(score[0]))
          .append($('<td/>').text(score[1]))
          .append($('<td/>').text(score[2]))
          .append($('<td/>').text(score[3]))
          .append($('<td/>').text(score[4]))
	);
                                 
  $('#result_view').show();
}



//answers = ['富士山', 'チューリップ', 'あららぎ', '異世界人']; showResult(); // for debug of answer-view

</script>
<body>
	<h1>クイズ</h1>
	<div class="sync alert-info">
		<!-- 表示ボタン -->
		<p>変更しました</p>
	</div>

	<div id="question_view">
		<h2>
			問題<span id="question_number"></span>:
		</h2>
		<p id="question_body"></p>

		<h2>選択肢：</h2>
		<ol id="answers"></ol>
		<p id="warning" style="display: none">選択肢を選んでね</p>
		<input type="button" value="答える" id="answer_button" />
		<div class="answers">
			<p>解答 :</p>
		</div>
	</div>
	<div id="result_view" style="display: none">
		<h2>結果</h2>
		<div class="score">
		<p>得点</p>
		<table>
				<thead>
					<tr>
						<th id="user1">問題番号</th>
						<th id="user2">あなたの答え</th>
						<th id="user3">正しい答え</th>
						<th id="user4">正誤</th>
						<th id="user5">正誤</th>
					</tr>
				</thead>
				<tbody id="results">
				</tbody>
		  </table>
		</div>
		<div class="user1">
			<p id="username"></p>
			<table>
				<thead>
					<tr>
						<th>問題番号</th>
						<th>あなたの答え</th>
						<th>正しい答え</th>
						<th>正誤</th>
					</tr>
				</thead>
				<tbody id="results">
				</tbody>
		  </table>
		</div>
		<div class="user2">
			<p id="username"></p>
			<table>
				<thead>
					<tr>
						<th>問題番号</th>
						<th>あなたの答え</th>
						<th>正しい答え</th>
						<th>正誤</th>
					</tr>
				</thead>
				<tbody id="results">
				</tbody>
			</table>
		</div>
		<div class="user3">
			<p id="username"></p>
			<table>
				<thead>
					<tr>
						<th>問題番号</th>
						<th>あなたの答え</th>
						<th>正しい答え</th>
						<th>正誤</th>
					</tr>
				</thead>
				<tbody id="results">
				</tbody>
			</table>
		</div>
		<div class="user4">
			<p id="username"></p>
			<table>
				<thead>
					<tr>
						<th>問題番号</th>
						<th>あなたの答え</th>
						<th>正しい答え</th>
						<th>正誤</th>
					</tr>
				</thead>
				<tbody id="results">
				</tbody>
			</table>
		</div>
		<div class="user5">
			<p id="username"></p>
			<table>
				<thead>
					<tr>
						<th>問題番号</th>
						<th>あなたの答え</th>
						<th>正しい答え</th>
						<th>正誤</th>
					</tr>
				</thead>
				<tbody id="results">
				</tbody>
			</table>
		</div>
		</div>
</body>