@(roomname: String)(implicit request: RequestHeader)
<!DOCTYPE html>

<html>
<head>
<title>LiveGame</title>
<style type="text/css">
body {
	background-color: #DDDDDD;
	font: 20px sans-serif;
}

h1 {
	font-size: 130%;
}

h2 {
	font-size: 100%;
}

table {
	border-collapse: collapse;
}

th,td {
	border: 1px solid gray;
}

tr.true {
	background-color: #ccffcc;
}

tr.false {
	background-color: #ffcccc;
}

#warning {
	background-color: #ffcccc;
}

.sync {
	line-height: 1;
	height: 2em
}

.sync p {
	display: none; /* 初期状態は非表示 */
	color: #888;
	font-weight: 200;
	text-align: center;
}
</style>
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script type="text/javascript">
//ここからwebsocket
var current_game_status = "waiting";
var user_names = [];

function mkAnswersString(){
	var s = "解答 : ";
	s += user_names[0] + "サン => " + user1_answers[current_question_number] + ", ";
	s += user_names[1] + "サン => " + user2_answers[current_question_number] + "";
	return s;
}

$(function() {
	var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
    var chatSocket = new WS("@routes.GameView.signal().webSocketURL()");
    
    var receiveEvent = function(event) {
        var data = JSON.parse(event.data);
        
        if(data.error) {
            chatSocket.close();
            window.alert("websocket error");
            return;
        }
        
        if(data.status == "active"){ //ゲーム開始出来る状態になる
        	current_game_status = "active";
        } else if(data.status == "enter"){ //ユーザが参加した。
        	user_names[data.role - 1] = data.username;
        	$('.sync p').text(data.username + "さんが参加しました")
        	$('.sync p').fadeIn(500).delay(700).fadeOut(700);
        } else if(data.status == "start"){　//ゲーム開始状態
        	if(data.role == "1"){
				user1_answers[current_question_number] = questions[current_question_number].answers[data.answer];
        	} else if(data.role == "2"){
        		user2_answers[current_question_number] = questions[current_question_number].answers[data.answer];
        	} else if(data.role == "3"){
        		player2.moveLeft();
        	}  else if(data.role == "4"){
        		player2.moveRight();
        	}
        
        	$('.answers p').text(mkAnswersString);
        } else if(data.status == "stop"){ // TODO
        	
        }
    }
    
    chatSocket.onmessage = receiveEvent
})

//answers の先頭が正答になるようにして下さい。選択肢はシャッフルして表示されます。

var user1_answers = [];
var user2_answers = [];
var user3_answers = [];
var user4_answers = [];

document.onkeydown = function (e){
	var key_code = e.keyCode;
	//for user1
	if(key_code == 49){
		user1_answers[current_question_number] = questions[current_question_number].answers[0];
	}
	if(key_code == 50){
		user1_answers[current_question_number] = questions[current_question_number].answers[1];
	}	
	if(key_code == 51){
		user1_answers[current_question_number] = questions[current_question_number].answers[2];
	}	
	if(key_code == 52){
		user1_answers[current_question_number] = questions[current_question_number].answers[3];
	}
	//for user2
	if(key_code == 53){
		user2_answers[current_question_number] = questions[current_question_number].answers[0];
	}
	if(key_code == 54){
		user2_answers[current_question_number] = questions[current_question_number].answers[1];
	}	
	if(key_code == 55){
		user2_answers[current_question_number] = questions[current_question_number].answers[2];
	}	
	if(key_code == 56){
		user2_answers[current_question_number] = questions[current_question_number].answers[3];
	}
};

var questions = [
  {'question': '日本一高い山は？', 'answers': ['富士山', '愛鷹山', '天保山', '八ヶ岳']},
  {'question': 'アイリちゃんの好きな花は？', 'answers': ['バラ', 'チューリップ', 'タンポポ', '百合']}
 ];

Array.prototype.shuffle = function() {
    var i = this.length;
    while(i){
        var j = Math.floor(Math.random()*i);
        var t = this[--i];
        this[i] = this[j];
        this[j] = t;
    }
    return this;
};

var answers = [];
var current_question_number;

$.each(questions, function (i, question) {
  question.true_answer = question.answers[0];
  question.answers.shuffle();
});

$(function() {
  showQuestion(0);
  
  $('#answer_button').click(function () {
    /*var answer = -1;
    $.each($('#answers input'), function (i, value) {
      if ($(value).is(':checked')) {
        answer = i;
        return false;
      }
    });*/
    
    /*if (answer == -1) {
      $('#warning').slideDown();
      return false;
    }*/
    if(current_game_status != "active"){
    	return false;
    }
    if((user1_answers.length - 1) != current_question_number){
    	return false;
    }
    if((user2_answers.length - 1) != current_question_number){
    	return false;
    }
    
    $('.answers p').text("解答 : ");
    $('#warning').slideUp();
    
    if (current_question_number < questions.length - 1) {
      showQuestion(current_question_number + 1);
    } else {
      showResult();
    }
  });
});

function showQuestion(question_number) {
  current_question_number = question_number;
  
  var question = questions[question_number];
  
  $('#question_number').text((question_number + 1) + "/" + questions.length);
  $('#question_body').text(question.question);
  $('#answers').empty();
  $.each(question.answers, function (i, value) {
    $('#answers').append($('<li/>').append($('<input type="radio" name="answer" id="answer' + i + '"/>')).append($('<label for="answer' + i + '"/>').text(value)));
  });
}
      
function showResult() {
  $('#question_view').hide();
  
  $('.user1 #username').text(user_names[0] + "サン");
  $('.user2 #username').text(user_names[1] + "サン");
  
  $.each(questions, function (i, question) {
    var is_true = user1_answers[i] === question.true_answer;
    $('.user1 #results').append($('<tr/>')
                         .addClass(is_true ? 'true' : 'false')
                         .append($('<th/>').text(i + 1))
                         .append($('<td/>').text(user1_answers[i]))
                         .append($('<td/>').text(question.true_answer))
                         .append($('<td/>').text(is_true ? '○' : '×'))
      );
  });
  
  $.each(questions, function (i, question) {
	    var is_true = user2_answers[i] === question.true_answer;
	    $('.user2 #results').append($('<tr/>')
	                         .addClass(is_true ? 'true' : 'false')
	                         .append($('<th/>').text(i + 1))
	                         .append($('<td/>').text(user2_answers[i]))
	                         .append($('<td/>').text(question.true_answer))
	                         .append($('<td/>').text(is_true ? '○' : '×'))
	      );
	  });
                                 
  $('#result_view').show();
}



//answers = ['富士山', 'チューリップ', 'あららぎ', '異世界人']; showResult(); // for debug of answer-view

</script>
<body>
	<h1>クイズ</h1>
	<div class="sync alert-info">
		<!-- 表示ボタン -->
		<p>変更しました</p>
	</div>

	<div id="question_view">
		<h2>
			問題<span id="question_number"></span>:
		</h2>
		<p id="question_body"></p>

		<h2>選択肢：</h2>
		<ol id="answers"></ol>
		<p id="warning" style="display: none">選択肢を選んでね</p>
		<input type="button" value="答える" id="answer_button" />
		<div class="answers">
			<p>解答 :</p>
		</div>
	</div>
	<div id="result_view" style="display: none">
		<h2>結果</h2>
		<div class="user1">
			<p id="username"></p>
			<table>
				<thead>
					<tr>
						<th>問題番号</th>
						<th>あなたの答え</th>
						<th>正しい答え</th>
						<th>正誤</th>
					</tr>
				</thead>
				<tbody id="results">
				</tbody>
		  </table>
		</div>
		<div class="user2">
			<p id="username"></p>
			<table>
				<thead>
					<tr>
						<th>問題番号</th>
						<th>あなたの答え</th>
						<th>正しい答え</th>
						<th>正誤</th>
					</tr>
				</thead>
				<tbody id="results">
				</tbody>
			</table>
		</div>
		</div>
</body>